<article class="we">
    <div class="image_container">
      <img
        class="image"
        src="@@image"
        alt="foto de Joanna Busmail "
      />
    </div>

    <h3 class="third_title">@@name</h3>
    <p class="description">
      Llevo 10 años entre vastidores, produciendo ideas creativas en un soporte mas convencional, como es el papel, la tele o la radio. He tenido la suerte de trabajar con multitud de perfiles creativos, fotógrafos, directores, actores, directores de arte, etc. Lo que me permite tener una visión muy amplia de las necesidades artísticas de los proyectos. He colaborado y gestionado equipos de trabajo para hacer esas ideas realidad, convirtiéndome en una gran team player, si no hay equipo no hay resultado.
      Me he enfrentado a proyectos mastodónticos y minúsculos, siempre con la misma pasión y con el mismo temor hacia lo nuevo. He trabajado en todo tipo de ambientes, lo que me ha permitido conocer los procesos y las metodologías, desde la empresa mas chiquita a la multinacional mas gigantesca. He creado mi propio proyecto, lo que me ha dado una visión de las raíces del funcionamiento empresarial.
      Han sido 10 años con mucho que contar, pero hoy, decido entrar entre los vastidores del futuro y producir en el soporte digital. Me apasiona este reto, me apasiona las colaboraciones que se generan y me apasiona tener que enfrentarme a un lenguaje nuevo y desconocido para mi, pero sobre todo me ilusiona su infinidad.
    </p>

    <nav class="rrss">
      <a href="url de twitter" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      <a
        href="http://linkedin.com/in/joanna-busmail-236bbba5/"
        target="_blank"
      >
      <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/JoannaBusmail" target="_blank">
        <i class="fa-brands fa-github-alt"></i>
      </a>
      <a href="mailto:joanna.busmail@gmail.com" target="_blank">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </nav>
  </article>