<article class="we">
  <div class="image_container">
    <img
      class="image"
      src="@@image"
      alt="foto de Elena Palomar"
    />
  </div>

  <h3 class="third_title">@@name</h3>
  <p class="description">
    Aunque siempre había destacado por mi creatividad y pensaba que ese iba a
    ser mi camino, casi por casualidad comencé a estudiar la carrera de Física.
    Por las circunstancias de la vida no pude dedicarme a la especialidad que
    había elegido, la meteorología, pero fue gracias a ella precisamente que me
    introduje en el mundo de la programación. Los programas pasaron de ser
    herramientas a los medios que convertían unos datos aburridos en increíbles
    respuestas visuales. El no poder dedicarme a lo que había decidido no me
    hizo caer, sino buscar nuevas oportunidades. Fue entonces cuando recuperé
    los apuntes de un pequeño curso que había hecho en la carrera sobre páginas
    web y un nuevo mundo se abrió ante mí: ¿era posible unir la funcionalidad de
    la programación con la creatividad? Y aquí me hallo, en la conjunción de mis
    pasiones luchando por lo que espero sea la profesión que me defina.
  </p>
  <nav class="rrss">
    <a href="url de twitter" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="http://www.linkedin.com/in/elena-palomar" target="_blank">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/ElenaPalomar" target="_blank">
      <i class="fa-brands fa-github-alt"></i>
    </a>
    <a href="mailto:elenapalomarllorente@gmail.com" target="_blank">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </nav>
</article>
