<article class="we">
  <div class="image_container">
    <img
      class="image"
      src="./assets/images/FotoSara (1).jpg"
      alt="foto de Sara Fernández"
    />
  </div>

  <h3 class="third_title">Sara Fernández</h3>
  <p class="description">
    Con grandes habilidades sociales orientadas a la divulgación científica
    técnica. Me considero una persona resolutiva, eficiente y con amplios
    conocimientos de todo tipo de procesos de investigación en el campo de la
    Psicología y la Educación. Esto hizo darme cuenta de mi gran vocación por la
    programación y el Desarrollo web, siempre con gran motivación y ganas de
    crecer profesionalmente. A lo largo de mi trayectoria profesional he tenido
    la oportunidad de trabajar en distintos ambientes de trabajo y relacionarme
    con un público muy variado. De esta forma, me ha permitido desarrollar mucho
    mejor la empatía y la escucha activa hacia las personas con las que trabajo.
    Además, me considero una persona proactiva y pragmática, acostumbrada a
    trabajar en equipo y por objetivos.
  </p>
  <nav class="rrss">
    <a href="url de twitter" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="url linkedin" target="_blank">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/sararunda" target="_blank">
      <i class="fa-brands fa-github-alt"></i>
    </a>
    <a href="mailto:sararunda@hotmail.com" target="_blank">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </nav>
</article>
