<!-- Parte de Joanna -->

<footer class="container_footer">
  <div class="wrapper">
    <h6 class="copyright">Duckies © 2022</h6>
    <ul class="bottom_links">
      <li>
        <a class="link_team_bottom" href="./index.html#equipo">EQUIPO</a>
      </li>
      <li>
        <a class="link_we_bottom" href="./index.html#quienes_somos"
          >QUIÉNES SOMOS</a
        >
      </li>
      <li>
        <a class="link_contact_bottom" href="./contact.html">CONTACTO</a>
      </li>
    </ul>
    <div class="container_logo">
      <img
        class="logo_adalab_bottom"
        src="./assets/images/logo-adalab.png"
        alt="Logo Adalab"
      />
    </div>
  </div>
</footer>

<!-- Acaba Parte de Joanna -->
