<div class="wrapper">
  <footer class="footer">
    <h6 class="footer__title">Duckies © 2022</h6>
    <ul class="footer__links">
      <li>
        <a class="footer__link" href="./index.html#equipo">EQUIPO</a>
      </li>
      <li>
        <a class="footer__link" href="./index.html#quienes_somos"
          >QUIÉNES SOMOS</a
        >
      </li>
      <li>
        <a class="footer__link" href="./contact.html">CONTACTO</a>
      </li>
    </ul>
    <img
      class="footer__image"
      src="./assets/images/logo-adalab.png"
      alt="Logo Adalab"
    />
  </footer>
</div>
