<header class="header">
  <img
    class="header__background"
    src="./assets/images/patitos.jpg"
    alt="Imagen del equipo Duckies"
  />

  <div class="header__color">
    <div class="center-column">
      <div class="wrapper">
        <h1 class="header__title">DUCKIES</h1>
      </div>
      <nav>
        <ul class="header__list">
          <div class="wrapper">
            <li>
              <a class="header__list__link" href="#equipo"> EQUIPO </a>
            </li>
            <li>
              <a class="header__list__link" href="#quienes_somos">
                QUIENES SOMOS
              </a>
            </li>
            <li>
              <a class="header__list__link" href="./contact.html"> CONTACTO </a>
            </li>
          </div>
        </ul>
      </nav>
    </div>
  </div>

  <div class="center-column">
    <div class="wrapper">
      <div class="header__slogan">GO DUCKIES!</div>
    </div>
  </div>
</header>
