<header class="headerContac">
  <img
    class="headerContac__background"
    src="./assets/images/patitos-contacto.jpg"
    alt="Imagen del equipo Duckies"
  />

  <div class="headerContac__color">
    <div class="center-column">
      <div class="wrapper">
        <h1 class="headerContac__title">DUCKIES</h1>
      </div>
      <nav>
        <ul class="headerContac__list">
          <div class="wrapper">
            <li>
              <a class="headerContac__list__link" href="./index.html#equipo">
                EQUIPO
              </a>
            </li>
            <li>
              <a
                class="headerContac__list__link"
                href="./index.html#quienes_somos"
              >
                QUIENES SOMOS
              </a>
            </li>
            <li>
              <a class="headerContac__list__link" href="./contact.html">
                CONTACTO
              </a>
            </li>
          </div>
        </ul>
      </nav>
    </div>
  </div>
</header>
