<div class="wrapper_contact">
  <div class="wrapper_contact__content">
    <article class="contact">
      <h1 class="contact__title">Contacto</h1>
      <p class="contact__text">
        Para más información, no dude en contactar con nosotras, ¡Estaremos
        encantadas de contarle más acerca de nuestro proyecto!
      </p>
      <p class="contact__condition">
        Todos los campos marcados con <span class="asterisk">*</span> son
        obligatorios.
      </p>
    </article>

    <form class="form" action="https://formspree.io/f/xqknbjyw" method="post">
      <div class="form__item">
        <label for="name">Nombre Completo<span class="asterisk">*</span></label>
        <input
          class="form__item__input"
          id="name"
          type="text"
          name="name"
          placeholder="Nombre..."
        />
      </div>

      <div class="form__item">
        <label for="mail">E-mail<span class="asterisk">*</span></label>
        <input
          class="form__item__input"
          id="mail"
          type="email"
          name="mail"
          placeholder="nombre.apellidos@mail.com"
        />
      </div>

      <div class="form__item">
        <label for="tel">Teléfono</label>
        <input
          class="form__item__input"
          id="tel"
          type="tel"
          name="tel"
          placeholder="Ej:1223456789"
        />
      </div>

      <div class="form__item">
        <label for="mesage">Mensaje<span class="asterisk">*</span></label>
        <textarea
          class="form__item__mesage"
          id="mesage"
          name="mesage"
          placeholder="¿Qué necesitas?"
        ></textarea>
      </div>

      <input class="form__submit" type="submit" value="Enviar" />
    </form>
  </div>
</div>
