<!--Parte de Ana-->
<section class="second_section">
  <div class="wrapper">
    <a name="quienes_somos"></a>
    <h2 class="second_title">QUIENES SOMOS</h2>
    <include
      src="./article_joanna.html"
      name="Joanna"
      image="photo_joanna"
    ></include>
    <include
      src="./article_Sara.html"
      name="Sara"
      image="./assets/images/FotoSara(1).jpg"
    ></include>
    <include
      src="./article_ana.html"
      name="Ana"
      image="./assets/images/1646050203243.jpg"
    ></include>
    <include
      src="./article_elena.html"
      name="Elena"
      image="photo_elena"
    ></include>
  </div>
</section>
<!-- Acaba la parte de Ana -->
