<section class="section1">
  <article class="article1-team">
    <div class="wrapper">
      <h3 class="article1-team__title" id="equipo">EQUIPO</h3>
      <p class="article1-team__content">
        Somos cuatro mujeres a las que nos apasiona el mundo de la programación.
        Estamos en continuo aprendizaje, y nuestro lema Go Duckies! nos define
        ante cualquier adversidad que pueda surgir, puesto que, a menudo,
        encontramos solución en el proceso de explicar el problema entre
        nosotras.
      </p>
    </div>
  </article>

  <div class="wrapper">
    <div class="square"></div>
  </div>
  <article class="article2-3">
    <div class="article2__strengths">
      <h4 class="article2__strengths--title">Fortalezas</h4>
      <p class="article2__strengths--content">
        Compartimos objetivos, nos apoyamos entre nosotras y buscamos soluciones
        ante cualquier situación que se nos presente, creando así un equipo no
        sólo de trabajo, sino de motivación. Aunque cada una trabaje de forma
        individual, el equipo siempre está dispuesto a ayudarse cuando sea
        necesario. Así mismo, hacemos un aporte de innumerables ideas y
        conocimientos, ¡Así es más fácil que surjan estrategias increíbles!
      </p>
    </div>
    <div class="article3__weaknesses">
      <h4 class="article3__weaknesses--title">Debilidades</h4>
      <p class="article3__weaknesses--content">
        Contamos con poca experiencia en el mundo de la programación, por lo que
        aún nos faltan algunos conocimientos clave para hacer frente a los
        cambios que puedan surgir. Lo que nos hace diferentes no son las
        debilidades sino la manera como afrontemos esta realidad, todos tenemos
        debilidades en cada uno de nosotros y esto no nos hace ni malas personas
        ni malas programadoras, lo importante es afrontar esta realidad y
        convertirla en oportunidades para mejorar ¡Lo estamos logrando!
      </p>
    </div>
  </article>
</section>
