<!--Parte de Ana-->
<section class="second_section">
    <div class="wrapper">
    <a name="quienes_somos"></a>
    <h2 class="second_title">QUIENES SOMOS</h2>
    <article class="we">
      <div class="image_container">
        <img
          class="image"
          src="./assets/images/IMG_5711.jpg  "
          alt="foto de Joanna Busmail "
        />
      </div>

      <h3 class="third_title">Joanna Busmail</h3>
      <p class="description">
        Llevo 10 años entre vastidores, produciendo ideas creativas en un soporte mas convencional, como es el papel, la tele o la radio. He tenido la suerte de trabajar con multitud de perfiles creativos, fotógrafos, directores, actores, directores de arte, etc. Lo que me permite tener una visión muy amplia de las necesidades artísticas de los proyectos. He colaborado y gestionado equipos de trabajo para hacer esas ideas realidad, convirtiéndome en una gran team player, si no hay equipo no hay resultado.
        Me he enfrentado a proyectos mastodónticos y minúsculos, siempre con la misma pasión y con el mismo temor hacia lo nuevo. He trabajado en todo tipo de ambientes, lo que me ha permitido conocer los procesos y las metodologías, desde la empresa mas chiquita a la multinacional mas gigantesca. He creado mi propio proyecto, lo que me ha dado una visión de las raíces del funcionamiento empresarial.
        Han sido 10 años con mucho que contar, pero hoy, decido entrar entre los vastidores del futuro y producir en el soporte digital. Me apasiona este reto, me apasiona las colaboraciones que se generan y me apasiona tener que enfrentarme a un lenguaje nuevo y desconocido para mi, pero sobre todo me ilusiona su infinidad.
      </p>

      <nav class="rrss">
        <a href="url de twitter" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        <a
          href="http://linkedin.com/in/joanna-busmail-236bbba5/"
          target="_blank"
        >
        <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/JoannaBusmail" target="_blank">
          <i class="fa-brands fa-github-alt"></i>
        </a>
        <a href="mailto:joanna.busmail@gmail.com" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </nav>
    </article>
    <article class="we">
      <div class="image_container">
        <img
          class="image"
          src="./assets/images/FotoSara (1).jpg"
          alt="foto de Sara Fernández"
        />
      </div>

      <h3 class="third_title">Sara Fernández</h3>
      <p class="description">
        Con grandes habilidades sociales orientadas a la divulgación científica técnica. Me considero una persona resolutiva, eficiente y con amplios conocimientos de todo tipo de procesos de investigación en el campo de la Psicología y la Educación. Esto hizo darme cuenta de mi gran vocación por la programación y el Desarrollo web, siempre con gran motivación y ganas de crecer profesionalmente.
A lo largo de mi trayectoria profesional he tenido la oportunidad de trabajar en distintos ambientes de trabajo y relacionarme con un público muy variado. De esta forma, me ha permitido desarrollar mucho mejor la empatía y la escucha activa hacia las personas con las que trabajo. Además, me considero una persona proactiva y pragmática, acostumbrada a trabajar en equipo y por objetivos.
      </p>
      <nav class="rrss">
        <a href="url de twitter" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="url linkedin" target="_blank">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/sararunda" target="_blank">
          <i class="fa-brands fa-github-alt"></i>
        </a>
        <a href="mailto:sararunda@hotmail.com" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </nav>
    </article>
    <article class="we">
      <div class="image_container">
        <img
          class="image"
          src="./assets/images/1646050203243.jpg"
          alt="foto de Ana Marcos"
        />
      </div>

      <h3 class="third_title">Ana Marcos</h3>
      <p class="description">
        Después de pasar los últimos diez años formándome y trabajando como enfermera, he decidido dar un giro profesional a mi vida y afrontar nuevos retos dentro del mundo tecnológico. Aunque mi experiencia profesional no ha estado ligada a la programación, he desarrollado ciertas habilidades que vienen bien para el trabajo en equipo, como las habilidades de comunicación, empatía, flexibilidad, atención al detalle, habilidad para resolver problemas (y evitarlos antes de que se produzcan), respuesta rápida ante incidencias repentinas y por supuesto, el respeto. Estoy ilusionada y motivada con esta nueva etapa.
      </p>
      <nav class="rrss">
        <a href="https://twitter.com/anamarcosestev1" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/ana-marcos-estevez-7ab986232/"
          target="_blank"
        >
        <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/aimarest" target="_blank">
          <i class="fa-brands fa-github-alt"></i>
        <a href="mailto:amarcosestevez@gmail.com" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </nav>
    </article>

    <article class="we">
      <div class="image_container">
        <img
          class="image"
          src="./assets/images/Elena_Palomar_cuadrada.jpg"
          alt="foto de Elena Palomar"
        />
      </div>

      <h3 class="third_title">Elena Palomar</h3>
      <p class="description">
        Aunque siempre había destacado por mi creatividad y pensaba que ese iba a ser mi camino, casi por casualidad comencé a estudiar la carrera de Física. Por las circunstancias de la vida no pude dedicarme a la especialidad que había elegido, la meteorología, pero fue gracias a ella precisamente que me introduje en el mundo de la programación. Los programas pasaron de ser herramientas a los medios que convertían unos datos aburridos en increíbles respuestas visuales.
El no poder dedicarme a lo que había decidido no me hizo caer, sino buscar nuevas oportunidades. Fue entonces cuando recuperé los apuntes de un pequeño curso que había hecho en la carrera sobre páginas web y un nuevo mundo se abrió ante mí: ¿era posible unir la funcionalidad de la programación con la creatividad? Y aquí me hallo, en la conjunción de mis pasiones luchando por lo que espero sea la profesión que me defina.
      </p>
      <nav class="rrss">
        <a href="url de twitter" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="http://www.linkedin.com/in/elena-palomar" target="_blank">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/ElenaPalomar" target="_blank">
          <i class="fa-brands fa-github-alt"></i>
        </a>
        <a href="mailto:elenapalomarllorente@gmail.com" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </nav>
    </article>
  </div>
  </section>
  <!-- Acaba la parte de Ana -->