.wrapper {
  margin: 0 15px;

  @media all and (min-width: 768px) {
    margin: 0 45px;
  }
  @media all and (min-width: 1200px) {
    max-width: 924px;
  }
}

.wrapper_contact {
  margin: 0 15px;
  display: flex;
  justify-content: center;

  &__content {
    @media all and (min-width: 768px) {
      max-width: 442px;
    }
    @media all and (min-width: 1200px) {
      max-width: 601px;
    }
  }
}
