.section1 {
  &__article1 {
    /*mobile*/
    margin: 30px 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /*tablet*/

    &--title {
      /*mobile*/
      padding: 30px 15px 0;
      font-family: $font-title;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.88;
      text-align: center;
      color: $aqua;
    }
    /*tablet
    @media (min-width: 768px) {
      width: 88.7px;
      height: 45px;
      margin: 0 294.3px 15px 295px;
    }*/

    &--text {
      /*mobile*/
      padding: 15px;
      font-family: $font-text;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      text-align: center;
      color: $dark-grey;
      display: flex;
      justify-content: center;

      /*tablet
     @media all and (min-width: 768px) {
      width: 678px;
      height: 168px;
      margin: 15px 0 0;
      text-align: center;*/
    }
  }
}

.square {
  /*mobile*/
  width: 30px;
  height: 30px;
  background-color: $white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.section1 {
  &__article2-3 {
    /*mobile*/
    padding: 30px 0 15px 0;
    background-color: rgba(184, 184, 185, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--title {
      /*mobile*/
      /*margin: 0;*/
      font-family: $font-title;
      font-size: 22px;
      font-weight: 500;
      line-height: 2.05;
      text-align: center;
      color: $blue-green;
    }

    &--text {
      /*mobile*/

      padding: 0 15px 45px;
      font-family: $font-text;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      text-align: center;
      color: $dark-grey;
    }
  }
}
