:root {
  --white: #fff;
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --dark-grey: #54585a;
  --cool-grey: #b8b8b9;
  --black: #000000;
  --black-8: rgba(0, 0, 0, 0.08);
}

/*PARTE SARA HEADER*/
.main_header {
  font-family: Rubik;
  color: var(--white);
  background-image: url("../images/patitos.jpg");
  height: 421px;
}

.header_title {
  text-align: center;
  padding: 15px;
  background-color: var(--blue-green);
  opacity: 0.95;
}

h1 {
  margin: 0;
}

.header_title h1 {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
}

.header_nav {
  background-color: var(--aqua);
  position: relative;
  opacity: 0.95;
}

.header_nav nav ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px 17px;
  font-size: 15px;
  color: #fff;
}

.header_nav a {
  text-decoration: none;
  color: var(--white);
}

.slogan {
  padding: 14px 15px 16px;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 280px;
  left: 15px;
  right: 15px;
  background-color: var(--white);
  color: var(--black);
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
}

/* Parte de Elena */

.section1_container {
  margin: 0 15px;
}

.team {
  margin: 30px 0;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.team_title {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--aqua);
}

.team_text {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);

  display: flex;
  justify-content: center;
}

.square {
  width: 30px;
  height: 30px;

  background-color: var(--white);

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.strengths {
  padding: 30px 0 15px 0;
  background-color: rgba(184, 184, 185, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fourth_title {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.strengths_text {
  margin: 0 0 30px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

/* Parte de Ana */
.second_section {
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
}

.second_title {
  height: 45px;
  margin: 30px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.description {
  text-align: center;
  margin-top: 0;
}

.third_title {
  height: 45px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 180px;
  height: 180px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: solid 5px var(--black-8);
}

.rrss {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 124px;
  height: 30px;
  margin: 15px auto 45px auto;
}

.rrss img {
  width: 30px;
}

/* Parte de Joanna */

.container_footer {
  width: 100%;
  padding: 20px 74px 45px;
  box-sizing: border-box;
  background-color: var(--white #fff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 100%;
  height: 20px;
  margin: 0 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: var(--cool-grey);
  text-align: center;
}

.bottom_links {
  width: 100%;
  height: 60px;
  margin: 20px 29px 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link_team_bottom,
.link_we_bottom,
.link_contact_bottom {
  color: var(--dark-grey);
  opacity: 0.75;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.43;
  text-decoration: none;
  align-items: center;
  position: relative;
  right: 20px;
}

.container_logo {
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_adalab_bottom {
  width: 100%;
}